adf-retails-csv/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-retails-csv"
		},
		"Account_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Account'"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"AzureSqlDatabase2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase2'"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'",
			"defaultValue": "Integrated Security=True;Data Source=DESKTOP-U9C05RC;Initial Catalog=Retail_Banking"
		},
		"SqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer1'"
		},
		"SqlServer2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer2'",
			"defaultValue": "Integrated Security=True;Data Source=DESKTOP-U9C05RC;Initial Catalog=Retail_Banking"
		},
		"SqlServer2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer2'"
		},
		"SqlServer3_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer3'",
			"defaultValue": "Integrated Security=True;Data Source=DESKTOP-U9C05RC;Initial Catalog=Retail_Banking"
		},
		"SqlServer3_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer3'"
		},
		"SqlServer4_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer4'",
			"defaultValue": "Integrated Security=True;Data Source=DESKTOP-U9C05RC;Initial Catalog=Retail_Banking"
		},
		"SqlServer4_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer4'"
		},
		"SqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "DESKTOP-U9C05RC/Noha"
		},
		"SqlServer2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "n.emakhlouf@gmail.com"
		},
		"SqlServer3_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "n.emakhlouf@gmail.com"
		},
		"SqlServer4_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "n.emakhlouf@gmail.com"
		},
		"newfile_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/4c2b8123-0f27-458a-b641-cc2180b6c8d9/resourceGroups/retails-data/providers/Microsoft.Storage/storageAccounts/bankingblob2112"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CSV_TO_DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "merging data from csv to azure sql database",
				"activities": [
					{
						"name": "call_center_logs",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Events",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "crm_call_center_logs.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date_received",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_received",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "complaint_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "complaint_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "rand_client",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rand_client",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "phonefinal",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "phonefinal",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "vru_line",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "vru_line",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "call_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "call_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "priority",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "priority",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "outcome",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "outcome",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "server",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "server",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ser_start",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ser_start",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ser_exit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ser_exit",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ser_time",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ser_time",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "call_center_logs",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Call_Center_LogsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "card",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call_center_logs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "completedcard.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "card_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "card_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "disp_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "disp_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "card",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "cardDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "client",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "card",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "completedclient.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "client_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "client_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "sex",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sex",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "age",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "social",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "social",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "first",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "first",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "middle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "middle",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "last",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "last",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "phone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "address_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "address_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "address_2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "address_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "zipcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "zipcode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "district_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "district_id",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "client",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "clientDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "disposition",
						"description": "Transfer data from CSV to DB",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "client",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "completeddisposition.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "disp_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "disp_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "client_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "client_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "account_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "account_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "disposition",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dispositionDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "loan",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "disposition",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "completedloan.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "loan_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "loan_id",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "account_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "account_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "amount",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "duration",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "duration",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "payments",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "payments",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "month",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "day",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fulldate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "location",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "location",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "purpose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "purpose",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "loan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "loanDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "reviews",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "transaction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "crm_reviews.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "stars",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "stars",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "reviews",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "reviews",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "product",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "district_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "district_id",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "reviews",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "reviewsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "loan details",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "reviews",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "luxuryloanportfolio.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "loan_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "loan_id",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "funded_amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "funded_amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "funded_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "funded_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "duration_years",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "duration_years",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "duration_months",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "duration_months",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "10_yr_treasury_index_date_funded",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_10_yr_treasury_index_date_funded",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "interest_rate_percent",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "interest_rate_percent",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "interest_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "interest_rate",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "payments",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "payments",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "total_past_payments",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "total_past_payments",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "loan_balance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "loan_balance",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "property_value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "property_value",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "purpose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "purpose",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "firstname",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "firstname",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "middlename",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "middlename",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "lastname",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "lastname",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "social",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "social",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "employment_length",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "employment_length",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "building_class_category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "building_class_category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "tax_class_at_present",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tax_class_at_present",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "building_class_at_present",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "building_class_at_present",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "address_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "address_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "address_2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "address_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "zip_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "zip_code",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "total_units",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "total_units",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "land_square_feet",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "land_square_feet",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "gross_square_feet",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gross_square_feet",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "tax_class_at_time_of_sale",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tax_class_at_time_of_sale",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "loanDetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "loanDetailsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Orders",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "order",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Events",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Orders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Event",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "eventsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "transaction",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "loan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "transactionsDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-08T16:44:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/call_center_logs')]",
				"[concat(variables('factoryId'), '/datasets/Call_Center_LogsDB')]",
				"[concat(variables('factoryId'), '/datasets/card')]",
				"[concat(variables('factoryId'), '/datasets/cardDB')]",
				"[concat(variables('factoryId'), '/datasets/client')]",
				"[concat(variables('factoryId'), '/datasets/clientDB')]",
				"[concat(variables('factoryId'), '/datasets/disposition')]",
				"[concat(variables('factoryId'), '/datasets/dispositionDB')]",
				"[concat(variables('factoryId'), '/datasets/loan')]",
				"[concat(variables('factoryId'), '/datasets/loanDB')]",
				"[concat(variables('factoryId'), '/datasets/reviews')]",
				"[concat(variables('factoryId'), '/datasets/reviewsDB')]",
				"[concat(variables('factoryId'), '/datasets/loanDetails')]",
				"[concat(variables('factoryId'), '/datasets/loanDetailsDB')]",
				"[concat(variables('factoryId'), '/datasets/order')]",
				"[concat(variables('factoryId'), '/datasets/Orders')]",
				"[concat(variables('factoryId'), '/datasets/Event')]",
				"[concat(variables('factoryId'), '/datasets/eventsDB')]",
				"[concat(variables('factoryId'), '/datasets/transactions')]",
				"[concat(variables('factoryId'), '/datasets/transactionsDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DB_TO_DL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "merging data from csv to azure sql database",
				"activities": [
					{
						"name": "account",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "account_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "account_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "district_id",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "district_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "frequency",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "frequency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "parseddate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "parseddate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_account",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "account_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "call_center",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date_received",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "date_received",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "complaint_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "complaint_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rand_client",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "rand_client",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "phonefinal",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "phonefinal",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "vru_line",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "vru_line",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "call_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "call_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "priority",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "priority",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "outcome",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "outcome",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "server",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "server",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ser_start",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ser_start",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ser_exit",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ser_exit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ser_time",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ser_time",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_call_center",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "call_center_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "card",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call_center",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "card_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "card_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "disp_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "disp_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_card",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "card_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "client",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "card",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "client_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "client_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sex",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "sex",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "age",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "age",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "social",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "social",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "first",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "first",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "middle",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "middle",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "last",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "last",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "phone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "phone",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "email",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "email",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "address_1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "address_1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "address_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "address_2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "zipcode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "zipcode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "district_id",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "district_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_client",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "client_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "disposition",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "client",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "disp_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "disp_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "client_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "client_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "account_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "account_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_disposition",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "disposition_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "district",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "disposition",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "district_id",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "district_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "state_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "state_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "state_abbrev",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "state_abbrev",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "division",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "division",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_district",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "district_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "events",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "district",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date_received",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "date_received",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sub_product",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "sub_product",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "issue",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "issue",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sub_issue",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "sub_issue",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "consumer_complaint_narrative",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "consumer_complaint_narrative",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tags",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "tags",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "consumer_consent_provided",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "consumer_consent_provided",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "submitted_via",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "submitted_via",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_sent_to_company",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "date_sent_to_company",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "company_response_to_consumer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "company_response_to_consumer",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "timely_response",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "timely_response",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "consumer_disputed",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "consumer_disputed",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "complaint_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "complaint_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "client_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "client_id",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_events",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "events_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "loan details",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "events",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "loan_id",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "loan_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "funded_amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "funded_amount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "funded_date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "funded_date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "duration_years",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "duration_years",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "duration_months",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "duration_months",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_10_yr_treasury_index_date_funded",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "_10_yr_treasury_index_date_funded",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "interest_rate_percent",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "interest_rate_percent",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "interest_rate",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "interest_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "payments",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "payments",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "total_past_payments",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "total_past_payments",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "loan_balance",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "loan_balance",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "property_value",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "property_value",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "purpose",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "purpose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "firstname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "firstname",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "middlename",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "middlename",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "lastname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "lastname",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "social",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "social",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "phone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "phone",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "employment_length",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "employment_length",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "building_class_category",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "building_class_category",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tax_class_at_present",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "tax_class_at_present",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "building_class_at_present",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "building_class_at_present",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "address_1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "address_1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "address_2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "address_2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "zip_code",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "zip_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "total_units",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "total_units",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "land_square_feet",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "land_square_feet",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "gross_square_feet",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "gross_square_feet",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tax_class_at_time_of_sale",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "tax_class_at_time_of_sale",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_loanDetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "loan_details_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "loan",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "loan details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "loan_id",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "loan_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "account_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "account_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "amount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "duration",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "duration",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "payments",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "payments",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fulldate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "location",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "location",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "purpose",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "purpose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_loan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "loan_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "order",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "loan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "order_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "order_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "account_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "account_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "bank_to",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "bank_to",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "account_to",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "account_to",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "amount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "k_symbol",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "k_symbol",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "order_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "reviews",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "order",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_reviews",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "reviews_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "transactions",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "reviews",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "column_a",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "column_a",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "trans_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "trans_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "account_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "account_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "operation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "operation",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "amount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "amount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "balance",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "balance",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "k_symbol",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "k_symbol",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "bank",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "bank",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fulltime",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "fulltime",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fulldatewithtime",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "fulldatewithtime",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "transactions_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-08T17:28:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/raw_account')]",
				"[concat(variables('factoryId'), '/datasets/account_DL')]",
				"[concat(variables('factoryId'), '/datasets/raw_call_center')]",
				"[concat(variables('factoryId'), '/datasets/call_center_DL')]",
				"[concat(variables('factoryId'), '/datasets/raw_card')]",
				"[concat(variables('factoryId'), '/datasets/card_DL')]",
				"[concat(variables('factoryId'), '/datasets/raw_client')]",
				"[concat(variables('factoryId'), '/datasets/client_DL')]",
				"[concat(variables('factoryId'), '/datasets/raw_disposition')]",
				"[concat(variables('factoryId'), '/datasets/disposition_DL')]",
				"[concat(variables('factoryId'), '/datasets/raw_district')]",
				"[concat(variables('factoryId'), '/datasets/district_DL')]",
				"[concat(variables('factoryId'), '/datasets/raw_events')]",
				"[concat(variables('factoryId'), '/datasets/events_DL')]",
				"[concat(variables('factoryId'), '/datasets/raw_loanDetails')]",
				"[concat(variables('factoryId'), '/datasets/loan_details_DL')]",
				"[concat(variables('factoryId'), '/datasets/raw_loan')]",
				"[concat(variables('factoryId'), '/datasets/loan_DL')]",
				"[concat(variables('factoryId'), '/datasets/raw_orders')]",
				"[concat(variables('factoryId'), '/datasets/order_DL')]",
				"[concat(variables('factoryId'), '/datasets/raw_reviews')]",
				"[concat(variables('factoryId'), '/datasets/reviews_DL')]",
				"[concat(variables('factoryId'), '/datasets/raw_transactions')]",
				"[concat(variables('factoryId'), '/datasets/transactions_DL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/local_to_azure')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "onpremsql",
								"type": "DatasetReference",
								"parameters": {
									"TableName": {
										"value": "SELECT name \nFROM sys.tables \nWHERE name NOT IN ('sysdiagrams');\n",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "onpremsql",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "azuredb",
											"type": "DatasetReference",
											"parameters": {
												"destinationTable": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-08T16:44:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/onpremsql')]",
				"[concat(variables('factoryId'), '/datasets/azuredb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "test",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "call_center_logs",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "testfile",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-08T17:14:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/call_center_logs')]",
				"[concat(variables('factoryId'), '/datasets/testfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Account')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "account_id",
						"type": "nvarchar"
					},
					{
						"name": "district_id",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "frequency",
						"type": "varchar"
					},
					{
						"name": "parseddate",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "varchar"
					},
					{
						"name": "month",
						"type": "varchar"
					},
					{
						"name": "day",
						"type": "varchar"
					},
					{
						"name": "date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Account"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Call_Center_LogsDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "date_received",
						"type": "varchar"
					},
					{
						"name": "complaint_id",
						"type": "nvarchar"
					},
					{
						"name": "rand_client",
						"type": "varchar"
					},
					{
						"name": "phonefinal",
						"type": "varchar"
					},
					{
						"name": "vru_line",
						"type": "varchar"
					},
					{
						"name": "call_id",
						"type": "varchar"
					},
					{
						"name": "priority",
						"type": "varchar"
					},
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "outcome",
						"type": "varchar"
					},
					{
						"name": "server",
						"type": "varchar"
					},
					{
						"name": "ser_start",
						"type": "varchar"
					},
					{
						"name": "ser_exit",
						"type": "varchar"
					},
					{
						"name": "ser_time",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Call_Center_Log"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Event')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "crm_events.csv",
						"container": "bankingcsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date_received",
						"type": "String"
					},
					{
						"name": "product",
						"type": "String"
					},
					{
						"name": "sub_product",
						"type": "String"
					},
					{
						"name": "issue",
						"type": "String"
					},
					{
						"name": "sub_issue",
						"type": "String"
					},
					{
						"name": "tags",
						"type": "String"
					},
					{
						"name": "consumer_consent_provided",
						"type": "String"
					},
					{
						"name": "submitted_via",
						"type": "String"
					},
					{
						"name": "date_sent_to_company",
						"type": "String"
					},
					{
						"name": "company_response_to_consumer",
						"type": "String"
					},
					{
						"name": "timely_response",
						"type": "String"
					},
					{
						"name": "consumer_disputed",
						"type": "String"
					},
					{
						"name": "complaint_id",
						"type": "String"
					},
					{
						"name": "client_id",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "order_id",
						"type": "varchar"
					},
					{
						"name": "account_id",
						"type": "nvarchar"
					},
					{
						"name": "bank_to",
						"type": "nvarchar"
					},
					{
						"name": "account_to",
						"type": "int",
						"precision": 10
					},
					{
						"name": "amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "k_symbol",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/account_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "account.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "order_id",
						"type": "String"
					},
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "bank_to",
						"type": "String"
					},
					{
						"name": "account_to",
						"type": "String"
					},
					{
						"name": "amount",
						"type": "String"
					},
					{
						"name": "k_symbol",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azuredb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"destinationTable": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().destinationTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/call_center_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "call_center.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "district_id",
						"type": "String"
					},
					{
						"name": "frequency",
						"type": "String"
					},
					{
						"name": "parseddate",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/call_center_logs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "crm_call_center_logs.csv",
						"container": "bankingcsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date_received",
						"type": "String"
					},
					{
						"name": "complaint_id",
						"type": "String"
					},
					{
						"name": "rand_client",
						"type": "String"
					},
					{
						"name": "phonefinal",
						"type": "String"
					},
					{
						"name": "vru_line",
						"type": "String"
					},
					{
						"name": "call_id",
						"type": "String"
					},
					{
						"name": "priority",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "outcome",
						"type": "String"
					},
					{
						"name": "server",
						"type": "String"
					},
					{
						"name": "ser_start",
						"type": "String"
					},
					{
						"name": "ser_exit",
						"type": "String"
					},
					{
						"name": "ser_time",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/card')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "completedcard.csv",
						"container": "bankingcsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "card_id",
						"type": "String"
					},
					{
						"name": "disp_id",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "fulldate",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cardDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "card_id",
						"type": "varchar"
					},
					{
						"name": "disp_id",
						"type": "varchar"
					},
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "varchar"
					},
					{
						"name": "month",
						"type": "varchar"
					},
					{
						"name": "day",
						"type": "varchar"
					},
					{
						"name": "fulldate",
						"type": "varchar"
					},
					{
						"name": "date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Card"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/card_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "card.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/client')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "completedclient.csv",
						"container": "bankingcsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "client_id",
						"type": "String"
					},
					{
						"name": "sex",
						"type": "String"
					},
					{
						"name": "fulldate",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": "social",
						"type": "String"
					},
					{
						"name": "first",
						"type": "String"
					},
					{
						"name": "middle",
						"type": "String"
					},
					{
						"name": "last",
						"type": "String"
					},
					{
						"name": "phone",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "address_1",
						"type": "String"
					},
					{
						"name": "address_2",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "zipcode",
						"type": "String"
					},
					{
						"name": "district_id",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/clientDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "client_id",
						"type": "varchar"
					},
					{
						"name": "sex",
						"type": "varchar"
					},
					{
						"name": "fulldate",
						"type": "varchar"
					},
					{
						"name": "day",
						"type": "varchar"
					},
					{
						"name": "month",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "varchar"
					},
					{
						"name": "age",
						"type": "varchar"
					},
					{
						"name": "social",
						"type": "varchar"
					},
					{
						"name": "first",
						"type": "varchar"
					},
					{
						"name": "middle",
						"type": "varchar"
					},
					{
						"name": "last",
						"type": "varchar"
					},
					{
						"name": "phone",
						"type": "varchar"
					},
					{
						"name": "email",
						"type": "varchar"
					},
					{
						"name": "address_1",
						"type": "varchar"
					},
					{
						"name": "address_2",
						"type": "varchar"
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "state",
						"type": "varchar"
					},
					{
						"name": "zipcode",
						"type": "varchar"
					},
					{
						"name": "district_id",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Client"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/client_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "client.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/disposition')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "completeddisposition.csv",
						"container": "bankingcsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "disp_id",
						"type": "String"
					},
					{
						"name": "client_id",
						"type": "String"
					},
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dispositionDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "disp_id",
						"type": "varchar"
					},
					{
						"name": "client_id",
						"type": "varchar"
					},
					{
						"name": "account_id",
						"type": "nvarchar"
					},
					{
						"name": "type",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Disposition"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/disposition_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "disposition.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/district')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "district_id",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state_name",
						"type": "nvarchar"
					},
					{
						"name": "state_abbrev",
						"type": "nvarchar"
					},
					{
						"name": "region",
						"type": "nvarchar"
					},
					{
						"name": "division",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "District"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/district_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "district.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/eventsDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "date_received",
						"type": "date"
					},
					{
						"name": "product",
						"type": "nvarchar"
					},
					{
						"name": "sub_product",
						"type": "nvarchar"
					},
					{
						"name": "issue",
						"type": "nvarchar"
					},
					{
						"name": "sub_issue",
						"type": "nvarchar"
					},
					{
						"name": "consumer_complaint_narrative",
						"type": "nvarchar"
					},
					{
						"name": "tags",
						"type": "nvarchar"
					},
					{
						"name": "consumer_consent_provided",
						"type": "nvarchar"
					},
					{
						"name": "submitted_via",
						"type": "nvarchar"
					},
					{
						"name": "date_sent_to_company",
						"type": "date"
					},
					{
						"name": "company_response_to_consumer",
						"type": "nvarchar"
					},
					{
						"name": "timely_response",
						"type": "bit"
					},
					{
						"name": "consumer_disputed",
						"type": "bit"
					},
					{
						"name": "complaint_id",
						"type": "nvarchar"
					},
					{
						"name": "client_id",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Events"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/events_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "events.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loan')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "completedloan.csv",
						"container": "bankingcsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "loan_id",
						"type": "String"
					},
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "amount",
						"type": "String"
					},
					{
						"name": "duration",
						"type": "String"
					},
					{
						"name": "payments",
						"type": "String"
					},
					{
						"name": "status",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "fulldate",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "purpose",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loanDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "loan_id",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "account_id",
						"type": "nvarchar"
					},
					{
						"name": "amount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "duration",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "payments",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "status",
						"type": "nvarchar"
					},
					{
						"name": "year",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "month",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "day",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "fulldate",
						"type": "date"
					},
					{
						"name": "location",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "purpose",
						"type": "nvarchar"
					},
					{
						"name": "date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Loan"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loanDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "luxuryloanportfolio.csv",
						"container": "bankingcsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "loan_id",
						"type": "String"
					},
					{
						"name": "funded_amount",
						"type": "String"
					},
					{
						"name": "funded_date",
						"type": "String"
					},
					{
						"name": "duration_years",
						"type": "String"
					},
					{
						"name": "duration_months",
						"type": "String"
					},
					{
						"name": "10_yr_treasury_index_date_funded",
						"type": "String"
					},
					{
						"name": "interest_rate_percent",
						"type": "String"
					},
					{
						"name": "interest_rate",
						"type": "String"
					},
					{
						"name": "payments",
						"type": "String"
					},
					{
						"name": "total_past_payments",
						"type": "String"
					},
					{
						"name": "loan_balance",
						"type": "String"
					},
					{
						"name": "property_value",
						"type": "String"
					},
					{
						"name": "purpose",
						"type": "String"
					},
					{
						"name": "firstname",
						"type": "String"
					},
					{
						"name": "middlename",
						"type": "String"
					},
					{
						"name": "lastname",
						"type": "String"
					},
					{
						"name": "social",
						"type": "String"
					},
					{
						"name": "phone",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "employment_length",
						"type": "String"
					},
					{
						"name": "building_class_category",
						"type": "String"
					},
					{
						"name": "tax_class_at_present",
						"type": "String"
					},
					{
						"name": "building_class_at_present",
						"type": "String"
					},
					{
						"name": "address_1",
						"type": "String"
					},
					{
						"name": "address_2",
						"type": "String"
					},
					{
						"name": "zip_code",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "total_units",
						"type": "String"
					},
					{
						"name": "land_square_feet",
						"type": "String"
					},
					{
						"name": "gross_square_feet",
						"type": "String"
					},
					{
						"name": "tax_class_at_time_of_sale",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loanDetailsDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "loan_id",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "funded_amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "funded_date",
						"type": "date"
					},
					{
						"name": "duration_years",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "duration_months",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "_10_yr_treasury_index_date_funded",
						"type": "float",
						"precision": 15
					},
					{
						"name": "interest_rate_percent",
						"type": "float",
						"precision": 15
					},
					{
						"name": "interest_rate",
						"type": "float",
						"precision": 15
					},
					{
						"name": "payments",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_past_payments",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "loan_balance",
						"type": "float",
						"precision": 15
					},
					{
						"name": "property_value",
						"type": "float",
						"precision": 15
					},
					{
						"name": "purpose",
						"type": "nvarchar"
					},
					{
						"name": "firstname",
						"type": "nvarchar"
					},
					{
						"name": "middlename",
						"type": "nvarchar"
					},
					{
						"name": "lastname",
						"type": "nvarchar"
					},
					{
						"name": "social",
						"type": "nvarchar"
					},
					{
						"name": "phone",
						"type": "nvarchar"
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "employment_length",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "building_class_category",
						"type": "nvarchar"
					},
					{
						"name": "tax_class_at_present",
						"type": "nvarchar"
					},
					{
						"name": "building_class_at_present",
						"type": "nvarchar"
					},
					{
						"name": "address_1",
						"type": "nvarchar"
					},
					{
						"name": "address_2",
						"type": "nvarchar"
					},
					{
						"name": "zip_code",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "total_units",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "land_square_feet",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "gross_square_feet",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tax_class_at_time_of_sale",
						"type": "tinyint",
						"precision": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "LoanDetails"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loan_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "loan.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loan_details_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "loan_details.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/onpremsql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer4",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/order')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "completedorder.csv",
						"container": "bankingcsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "order_id",
						"type": "String"
					},
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "bank_to",
						"type": "String"
					},
					{
						"name": "account_to",
						"type": "String"
					},
					{
						"name": "amount",
						"type": "String"
					},
					{
						"name": "k_symbol",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/order_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "order.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_account')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw_DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "account_id",
						"type": "nvarchar"
					},
					{
						"name": "district_id",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "frequency",
						"type": "varchar"
					},
					{
						"name": "parseddate",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "varchar"
					},
					{
						"name": "month",
						"type": "varchar"
					},
					{
						"name": "day",
						"type": "varchar"
					},
					{
						"name": "date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Account"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_call_center')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw_DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "date_received",
						"type": "varchar"
					},
					{
						"name": "complaint_id",
						"type": "nvarchar"
					},
					{
						"name": "rand_client",
						"type": "varchar"
					},
					{
						"name": "phonefinal",
						"type": "varchar"
					},
					{
						"name": "vru_line",
						"type": "varchar"
					},
					{
						"name": "call_id",
						"type": "varchar"
					},
					{
						"name": "priority",
						"type": "varchar"
					},
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "outcome",
						"type": "varchar"
					},
					{
						"name": "server",
						"type": "varchar"
					},
					{
						"name": "ser_start",
						"type": "varchar"
					},
					{
						"name": "ser_exit",
						"type": "varchar"
					},
					{
						"name": "ser_time",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Call_Center_Log"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_card')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw_DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "card_id",
						"type": "varchar"
					},
					{
						"name": "disp_id",
						"type": "varchar"
					},
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "varchar"
					},
					{
						"name": "month",
						"type": "varchar"
					},
					{
						"name": "day",
						"type": "varchar"
					},
					{
						"name": "fulldate",
						"type": "varchar"
					},
					{
						"name": "date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Card"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_client')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw_DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "client_id",
						"type": "varchar"
					},
					{
						"name": "sex",
						"type": "varchar"
					},
					{
						"name": "fulldate",
						"type": "varchar"
					},
					{
						"name": "day",
						"type": "varchar"
					},
					{
						"name": "month",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "varchar"
					},
					{
						"name": "age",
						"type": "varchar"
					},
					{
						"name": "social",
						"type": "varchar"
					},
					{
						"name": "first",
						"type": "varchar"
					},
					{
						"name": "middle",
						"type": "varchar"
					},
					{
						"name": "last",
						"type": "varchar"
					},
					{
						"name": "phone",
						"type": "varchar"
					},
					{
						"name": "email",
						"type": "varchar"
					},
					{
						"name": "address_1",
						"type": "varchar"
					},
					{
						"name": "address_2",
						"type": "varchar"
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "state",
						"type": "varchar"
					},
					{
						"name": "zipcode",
						"type": "varchar"
					},
					{
						"name": "district_id",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Client"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_disposition')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw_DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "disp_id",
						"type": "varchar"
					},
					{
						"name": "client_id",
						"type": "varchar"
					},
					{
						"name": "account_id",
						"type": "nvarchar"
					},
					{
						"name": "type",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Disposition"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_district')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw_DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "district_id",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state_name",
						"type": "nvarchar"
					},
					{
						"name": "state_abbrev",
						"type": "nvarchar"
					},
					{
						"name": "region",
						"type": "nvarchar"
					},
					{
						"name": "division",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "District"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_events')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw_DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "date_received",
						"type": "nvarchar"
					},
					{
						"name": "product",
						"type": "nvarchar"
					},
					{
						"name": "sub_product",
						"type": "nvarchar"
					},
					{
						"name": "issue",
						"type": "nvarchar"
					},
					{
						"name": "sub_issue",
						"type": "nvarchar"
					},
					{
						"name": "consumer_complaint_narrative",
						"type": "nvarchar"
					},
					{
						"name": "tags",
						"type": "nvarchar"
					},
					{
						"name": "consumer_consent_provided",
						"type": "nvarchar"
					},
					{
						"name": "submitted_via",
						"type": "nvarchar"
					},
					{
						"name": "date_sent_to_company",
						"type": "nvarchar"
					},
					{
						"name": "company_response_to_consumer",
						"type": "nvarchar"
					},
					{
						"name": "timely_response",
						"type": "nvarchar"
					},
					{
						"name": "consumer_disputed",
						"type": "nvarchar"
					},
					{
						"name": "complaint_id",
						"type": "nvarchar"
					},
					{
						"name": "client_id",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Events"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_loan')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw_DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "loan_id",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "account_id",
						"type": "nvarchar"
					},
					{
						"name": "amount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "duration",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "payments",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "status",
						"type": "nvarchar"
					},
					{
						"name": "year",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "month",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "day",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "fulldate",
						"type": "date"
					},
					{
						"name": "location",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "purpose",
						"type": "nvarchar"
					},
					{
						"name": "date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Loan"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_loanDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw_DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "loan_id",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "funded_amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "funded_date",
						"type": "date"
					},
					{
						"name": "duration_years",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "duration_months",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "_10_yr_treasury_index_date_funded",
						"type": "float",
						"precision": 15
					},
					{
						"name": "interest_rate_percent",
						"type": "float",
						"precision": 15
					},
					{
						"name": "interest_rate",
						"type": "float",
						"precision": 15
					},
					{
						"name": "payments",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_past_payments",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "loan_balance",
						"type": "float",
						"precision": 15
					},
					{
						"name": "property_value",
						"type": "float",
						"precision": 15
					},
					{
						"name": "purpose",
						"type": "nvarchar"
					},
					{
						"name": "firstname",
						"type": "nvarchar"
					},
					{
						"name": "middlename",
						"type": "nvarchar"
					},
					{
						"name": "lastname",
						"type": "nvarchar"
					},
					{
						"name": "social",
						"type": "nvarchar"
					},
					{
						"name": "phone",
						"type": "nvarchar"
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "employment_length",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "building_class_category",
						"type": "nvarchar"
					},
					{
						"name": "tax_class_at_present",
						"type": "nvarchar"
					},
					{
						"name": "building_class_at_present",
						"type": "nvarchar"
					},
					{
						"name": "address_1",
						"type": "nvarchar"
					},
					{
						"name": "address_2",
						"type": "nvarchar"
					},
					{
						"name": "zip_code",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "total_units",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "land_square_feet",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "gross_square_feet",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tax_class_at_time_of_sale",
						"type": "tinyint",
						"precision": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "LoanDetails"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw_DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "order_id",
						"type": "varchar"
					},
					{
						"name": "account_id",
						"type": "nvarchar"
					},
					{
						"name": "bank_to",
						"type": "nvarchar"
					},
					{
						"name": "account_to",
						"type": "int",
						"precision": 10
					},
					{
						"name": "amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "k_symbol",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_reviews')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw_DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "date",
						"type": "date"
					},
					{
						"name": "stars",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "reviews",
						"type": "nvarchar"
					},
					{
						"name": "product",
						"type": "nvarchar"
					},
					{
						"name": "district_id",
						"type": "tinyint",
						"precision": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "reviews_db"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw_DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "column_a",
						"type": "varchar"
					},
					{
						"name": "trans_id",
						"type": "varchar"
					},
					{
						"name": "account_id",
						"type": "nvarchar"
					},
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "operation",
						"type": "varchar"
					},
					{
						"name": "amount",
						"type": "varchar"
					},
					{
						"name": "balance",
						"type": "varchar"
					},
					{
						"name": "k_symbol",
						"type": "varchar"
					},
					{
						"name": "bank",
						"type": "varchar"
					},
					{
						"name": "account",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "varchar"
					},
					{
						"name": "month",
						"type": "varchar"
					},
					{
						"name": "day",
						"type": "varchar"
					},
					{
						"name": "fulldate",
						"type": "varchar"
					},
					{
						"name": "fulltime",
						"type": "varchar"
					},
					{
						"name": "fulldatewithtime",
						"type": "varchar"
					},
					{
						"name": "date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/reviews')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "crm_reviews.csv",
						"container": "bankingcsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "stars",
						"type": "String"
					},
					{
						"name": "reviews",
						"type": "String"
					},
					{
						"name": "product",
						"type": "String"
					},
					{
						"name": "district_id",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/reviewsDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "date",
						"type": "date"
					},
					{
						"name": "stars",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "reviews",
						"type": "nvarchar"
					},
					{
						"name": "product",
						"type": "nvarchar"
					},
					{
						"name": "district_id",
						"type": "tinyint",
						"precision": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "reviews_db"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/reviews_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "reviews.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/testfile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "completedtrans.csv",
						"container": "bankingcsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "column_a",
						"type": "String"
					},
					{
						"name": "trans_id",
						"type": "String"
					},
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "operation",
						"type": "String"
					},
					{
						"name": "amount",
						"type": "String"
					},
					{
						"name": "balance",
						"type": "String"
					},
					{
						"name": "k_symbol",
						"type": "String"
					},
					{
						"name": "bank",
						"type": "String"
					},
					{
						"name": "account",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "fulldate",
						"type": "String"
					},
					{
						"name": "fulltime",
						"type": "String"
					},
					{
						"name": "fulldatewithtime",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/transactionsDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "column_a",
						"type": "varchar"
					},
					{
						"name": "trans_id",
						"type": "varchar"
					},
					{
						"name": "account_id",
						"type": "nvarchar"
					},
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "operation",
						"type": "varchar"
					},
					{
						"name": "amount",
						"type": "varchar"
					},
					{
						"name": "balance",
						"type": "varchar"
					},
					{
						"name": "k_symbol",
						"type": "varchar"
					},
					{
						"name": "bank",
						"type": "varchar"
					},
					{
						"name": "account",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "varchar"
					},
					{
						"name": "month",
						"type": "varchar"
					},
					{
						"name": "day",
						"type": "varchar"
					},
					{
						"name": "fulldate",
						"type": "varchar"
					},
					{
						"name": "fulltime",
						"type": "varchar"
					},
					{
						"name": "fulldatewithtime",
						"type": "varchar"
					},
					{
						"name": "date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/transactions_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "transactions.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Account')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Account_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime3",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime3",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]",
					"userName": "[parameters('SqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer2_connectionString')]",
					"userName": "[parameters('SqlServer2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer2_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime3",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer3_connectionString')]",
					"userName": "[parameters('SqlServer3_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer3_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime3",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer4_connectionString')]",
					"userName": "[parameters('SqlServer4_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer4_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime3",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/newfile')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CSV_TO_DB",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/bankingcsv/blobs/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('newfile_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CSV_TO_DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AirflowDemo')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Airflow",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"computeSize": "Small",
						"extraNodes": 0,
						"enableAutoscale": false,
						"clusterIP": "20.75.148.170"
					},
					"airflowProperties": {
						"airflowVersion": "2.6.3",
						"airflowWebUrl": "https://96370565971702.eastus.airflow.svc.datafactory.azure.com/login/",
						"airflowRequirements": [],
						"enableAADIntegration": true,
						"airflowEntityReferences": [],
						"encryptedSecrets": [],
						"secrets": []
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime3')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}