adf-retails-csv/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-retails-csv"
		},
		"Account_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Account'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"SqlServer2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer2'",
			"defaultValue": "Integrated Security=True;Data Source=DESKTOP-U9C05RC;Initial Catalog=Retail_Banking"
		},
		"SqlServer2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer2'"
		},
		"SqlServer3_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer3'",
			"defaultValue": "Integrated Security=True;Data Source=DESKTOP-U9C05RC;Initial Catalog=Retail_Banking"
		},
		"SqlServer3_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer3'"
		},
		"SqlServer4_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer4'",
			"defaultValue": "Integrated Security=True;Data Source=DESKTOP-U9C05RC;Initial Catalog=Retail_Banking"
		},
		"SqlServer4_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer4'"
		},
		"SqlServer2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "n.emakhlouf@gmail.com"
		},
		"SqlServer3_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "n.emakhlouf@gmail.com"
		},
		"SqlServer4_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "n.emakhlouf@gmail.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/reviews_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "reviews.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/testfile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "completedtrans.csv",
						"container": "bankingcsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "column_a",
						"type": "String"
					},
					{
						"name": "trans_id",
						"type": "String"
					},
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "operation",
						"type": "String"
					},
					{
						"name": "amount",
						"type": "String"
					},
					{
						"name": "balance",
						"type": "String"
					},
					{
						"name": "k_symbol",
						"type": "String"
					},
					{
						"name": "bank",
						"type": "String"
					},
					{
						"name": "account",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "fulldate",
						"type": "String"
					},
					{
						"name": "fulltime",
						"type": "String"
					},
					{
						"name": "fulldatewithtime",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/transactions_DL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "CSV_DL"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "transactions.csv",
						"container": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Account')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Account_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime3",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime3",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer2_connectionString')]",
					"userName": "[parameters('SqlServer2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer2_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime3",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer3_connectionString')]",
					"userName": "[parameters('SqlServer3_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer3_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime3",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer4_connectionString')]",
					"userName": "[parameters('SqlServer4_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer4_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime3",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DB_TO_DL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "merging data from csv to azure sql database",
				"activities": [
					{
						"name": "account",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "account_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "account_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "district_id",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "district_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "frequency",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "frequency",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "parseddate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "parseddate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_account",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "account_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "call_center",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date_received",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "date_received",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "complaint_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "complaint_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rand_client",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "rand_client",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "phonefinal",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "phonefinal",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "vru_line",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "vru_line",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "call_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "call_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "priority",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "priority",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "outcome",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "outcome",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "server",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "server",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ser_start",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ser_start",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ser_exit",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ser_exit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ser_time",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ser_time",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_call_center",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "call_center_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "card",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "call_center",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "card_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "card_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "disp_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "disp_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_card",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "card_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "client",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "card",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "client_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "client_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sex",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "sex",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "age",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "age",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "social",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "social",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "first",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "first",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "middle",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "middle",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "last",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "last",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "phone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "phone",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "email",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "email",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "address_1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "address_1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "address_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "address_2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "zipcode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "zipcode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "district_id",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "district_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_client",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "client_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "disposition",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "client",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "disp_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "disp_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "client_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "client_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "account_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "account_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_disposition",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "disposition_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "district",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "disposition",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "district_id",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "district_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "state_name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "state_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "state_abbrev",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "state_abbrev",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "division",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "division",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_district",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "district_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "events",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "district",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "date_received",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "date_received",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "product",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "product",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sub_product",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "sub_product",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "issue",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "issue",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sub_issue",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "sub_issue",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "consumer_complaint_narrative",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "consumer_complaint_narrative",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tags",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "tags",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "consumer_consent_provided",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "consumer_consent_provided",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "submitted_via",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "submitted_via",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_sent_to_company",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "date_sent_to_company",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "company_response_to_consumer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "company_response_to_consumer",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "timely_response",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "timely_response",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "consumer_disputed",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "consumer_disputed",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "complaint_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "complaint_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "client_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "client_id",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_events",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "events_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "loan details",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "events",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "loan_id",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "loan_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "funded_amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "funded_amount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "funded_date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "funded_date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "duration_years",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "duration_years",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "duration_months",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "duration_months",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_10_yr_treasury_index_date_funded",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "_10_yr_treasury_index_date_funded",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "interest_rate_percent",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "interest_rate_percent",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "interest_rate",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "interest_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "payments",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "payments",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "total_past_payments",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "total_past_payments",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "loan_balance",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "loan_balance",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "property_value",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "property_value",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "purpose",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "purpose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "firstname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "firstname",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "middlename",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "middlename",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "lastname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "lastname",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "social",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "social",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "phone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "phone",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "employment_length",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "employment_length",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "building_class_category",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "building_class_category",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tax_class_at_present",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "tax_class_at_present",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "building_class_at_present",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "building_class_at_present",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "address_1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "address_1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "address_2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "address_2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "zip_code",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "zip_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "total_units",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "total_units",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "land_square_feet",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "land_square_feet",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "gross_square_feet",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "gross_square_feet",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tax_class_at_time_of_sale",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "tax_class_at_time_of_sale",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_loanDetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "loan_details_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "loan",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "loan details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "loan_id",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "loan_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "account_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "account_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "amount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "duration",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "duration",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "payments",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "payments",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fulldate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "location",
											"type": "Byte",
											"physicalType": "tinyint"
										},
										"sink": {
											"name": "location",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "purpose",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "purpose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_loan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "loan_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "order",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "loan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "order_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "order_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "account_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "account_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "bank_to",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "bank_to",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "account_to",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "account_to",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "amount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "k_symbol",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "k_symbol",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "order_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "reviews",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "order",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_reviews",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "reviews_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "transactions",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "reviews",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "column_a",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "column_a",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "trans_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "trans_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "account_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "account_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "operation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "operation",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "amount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "amount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "balance",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "balance",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "k_symbol",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "k_symbol",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "bank",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "bank",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "account",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "account",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "fulldate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fulltime",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "fulltime",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fulldatewithtime",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "fulldatewithtime",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "raw_transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "transactions_DL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-08T17:28:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/reviews_DL')]",
				"[concat(variables('factoryId'), '/datasets/transactions_DL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "test",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "call_center_logs",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "testfile",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-08T17:14:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/testfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Account')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "account_id",
						"type": "nvarchar"
					},
					{
						"name": "district_id",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "frequency",
						"type": "varchar"
					},
					{
						"name": "parseddate",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "varchar"
					},
					{
						"name": "month",
						"type": "varchar"
					},
					{
						"name": "day",
						"type": "varchar"
					},
					{
						"name": "date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Account"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Call_Center_LogsDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "date_received",
						"type": "varchar"
					},
					{
						"name": "complaint_id",
						"type": "nvarchar"
					},
					{
						"name": "rand_client",
						"type": "varchar"
					},
					{
						"name": "phonefinal",
						"type": "varchar"
					},
					{
						"name": "vru_line",
						"type": "varchar"
					},
					{
						"name": "call_id",
						"type": "varchar"
					},
					{
						"name": "priority",
						"type": "varchar"
					},
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "outcome",
						"type": "varchar"
					},
					{
						"name": "server",
						"type": "varchar"
					},
					{
						"name": "ser_start",
						"type": "varchar"
					},
					{
						"name": "ser_exit",
						"type": "varchar"
					},
					{
						"name": "ser_time",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Call_Center_Log"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cardDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "card_id",
						"type": "varchar"
					},
					{
						"name": "disp_id",
						"type": "varchar"
					},
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "varchar"
					},
					{
						"name": "month",
						"type": "varchar"
					},
					{
						"name": "day",
						"type": "varchar"
					},
					{
						"name": "fulldate",
						"type": "varchar"
					},
					{
						"name": "date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Card"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/clientDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "client_id",
						"type": "varchar"
					},
					{
						"name": "sex",
						"type": "varchar"
					},
					{
						"name": "fulldate",
						"type": "varchar"
					},
					{
						"name": "day",
						"type": "varchar"
					},
					{
						"name": "month",
						"type": "varchar"
					},
					{
						"name": "year",
						"type": "varchar"
					},
					{
						"name": "age",
						"type": "varchar"
					},
					{
						"name": "social",
						"type": "varchar"
					},
					{
						"name": "first",
						"type": "varchar"
					},
					{
						"name": "middle",
						"type": "varchar"
					},
					{
						"name": "last",
						"type": "varchar"
					},
					{
						"name": "phone",
						"type": "varchar"
					},
					{
						"name": "email",
						"type": "varchar"
					},
					{
						"name": "address_1",
						"type": "varchar"
					},
					{
						"name": "address_2",
						"type": "varchar"
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "state",
						"type": "varchar"
					},
					{
						"name": "zipcode",
						"type": "varchar"
					},
					{
						"name": "district_id",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Client"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dispositionDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "disp_id",
						"type": "varchar"
					},
					{
						"name": "client_id",
						"type": "varchar"
					},
					{
						"name": "account_id",
						"type": "nvarchar"
					},
					{
						"name": "type",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Disposition"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/district')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "district_id",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state_name",
						"type": "nvarchar"
					},
					{
						"name": "state_abbrev",
						"type": "nvarchar"
					},
					{
						"name": "region",
						"type": "nvarchar"
					},
					{
						"name": "division",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "District"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/eventsDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "date_received",
						"type": "date"
					},
					{
						"name": "product",
						"type": "nvarchar"
					},
					{
						"name": "sub_product",
						"type": "nvarchar"
					},
					{
						"name": "issue",
						"type": "nvarchar"
					},
					{
						"name": "sub_issue",
						"type": "nvarchar"
					},
					{
						"name": "consumer_complaint_narrative",
						"type": "nvarchar"
					},
					{
						"name": "tags",
						"type": "nvarchar"
					},
					{
						"name": "consumer_consent_provided",
						"type": "nvarchar"
					},
					{
						"name": "submitted_via",
						"type": "nvarchar"
					},
					{
						"name": "date_sent_to_company",
						"type": "date"
					},
					{
						"name": "company_response_to_consumer",
						"type": "nvarchar"
					},
					{
						"name": "timely_response",
						"type": "bit"
					},
					{
						"name": "consumer_disputed",
						"type": "bit"
					},
					{
						"name": "complaint_id",
						"type": "nvarchar"
					},
					{
						"name": "client_id",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Events"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loanDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "loan_id",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "account_id",
						"type": "nvarchar"
					},
					{
						"name": "amount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "duration",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "payments",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "status",
						"type": "nvarchar"
					},
					{
						"name": "year",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "month",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "day",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "fulldate",
						"type": "date"
					},
					{
						"name": "location",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "purpose",
						"type": "nvarchar"
					},
					{
						"name": "date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Loan"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loanDetailsDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Azure SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "loan_id",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "funded_amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "funded_date",
						"type": "date"
					},
					{
						"name": "duration_years",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "duration_months",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "_10_yr_treasury_index_date_funded",
						"type": "float",
						"precision": 15
					},
					{
						"name": "interest_rate_percent",
						"type": "float",
						"precision": 15
					},
					{
						"name": "interest_rate",
						"type": "float",
						"precision": 15
					},
					{
						"name": "payments",
						"type": "float",
						"precision": 15
					},
					{
						"name": "total_past_payments",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "loan_balance",
						"type": "float",
						"precision": 15
					},
					{
						"name": "property_value",
						"type": "float",
						"precision": 15
					},
					{
						"name": "purpose",
						"type": "nvarchar"
					},
					{
						"name": "firstname",
						"type": "nvarchar"
					},
					{
						"name": "middlename",
						"type": "nvarchar"
					},
					{
						"name": "lastname",
						"type": "nvarchar"
					},
					{
						"name": "social",
						"type": "nvarchar"
					},
					{
						"name": "phone",
						"type": "nvarchar"
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "employment_length",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "building_class_category",
						"type": "nvarchar"
					},
					{
						"name": "tax_class_at_present",
						"type": "nvarchar"
					},
					{
						"name": "building_class_at_present",
						"type": "nvarchar"
					},
					{
						"name": "address_1",
						"type": "nvarchar"
					},
					{
						"name": "address_2",
						"type": "nvarchar"
					},
					{
						"name": "zip_code",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "city",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "total_units",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "land_square_feet",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "gross_square_feet",
						"type": "int",
						"precision": 10
					},
					{
						"name": "tax_class_at_time_of_sale",
						"type": "tinyint",
						"precision": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "LoanDetails"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		}
	]
}